<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>booking_page</title>
    <link rel="stylesheet" href="/css/booking_page.css" />
  </head>
  <body>
    <nav class="navbar-2 navbar-expand-lg">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav-2">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/booklaundry">Book_laundry</a>
          </li>
          <a class="nav-link" href="#"
            ><i class="fa-solid fa-cart-circle-plus"></i
          ></a>
          <a href="thankupage.ejs"></a>
        </ul>
      </div>
    </nav>
    <form action="/thankupage" method="post" class="row mycontainer">
      <div class="col-sm-6">
        <label for="fname">First_name</label><br />
        <input type="text" class="text" id="fname" name="fname" />
      </div>
      <div class="col-sm-6">
        <label for="email">Last_name</label><br />
        <input type="text" class="text" id="lname" name="lname" />
      </div>
      <div class="col-sm-6">
        <label for="fname">Email</label><br />
        <input type="text" class="text" id="email" name="email" />
      </div>
      <div class="col-sm-6">
        <label for="email">Mob_no</label><br />
        <input type="text" class="text" id="mob" name="mob" />
      </div>

      <div class="col-sm-12">
        <label for="Date">Select_date&time</label><br />
        <input type="datetime-local" name="date" />
      </div>
      <div class="col-sm-6 address">
        <label for="fname">Residencial_Address</label><br />
        <textarea rows="4" cols="50" name="address"> </textarea>
      </div>
      <div class="col-sm-12">
        <select name="service" class="text12">
          <option value="Select_services">Select_services</option>
          <option value="Laundry">Laundry</option>
          <option value="Wash & Fold">Wash & Fold</option>
          <option value="Ironing">Ironing</option>
          <option value="steam_ironing">steam_ironing</option>
          <option value="Dry_cleaning">Dry_cleaning</option>
          <option value="Sofa_cleaning">Sofa_cleaning</option>
          <option value="Carpet_cleaning">Carpet_cleaning</option>
          <option value="Home_cleaning">Home_cleaning</option>
          <option value="Shoue_laundry">Shoue_laundry</option>
        </select>
      </div>
      <button type="submit" class="submit">Submit</button>
      <button type="reset" class="reset">Reset</button>
    </form>
    <div class="container-fluid">
      <div class="row">
        <div class="col about">
          About_us<br />
          Manage multiple stores using a single platform with all metrics in one
          place A perfect laundry management software to manage your
          stores,factory, and customers, giving you better control and clarity
          manage everything effectively easily quickely. we make a web
          application beause customer easily book laundry thorugh our web
          application. this is one best solution for all laundry works like
          house cleaing and cloths cleaning. visit our website and enjoy our
          sersvices.Thanque.
        </div>
        <div class="col">
          Our_services<br />
          <ul
            service_list
            style="color: #fff; list-style: none; margin-top: 1%"
          >
            <li>Dry_cleaning</li>
            <li>Carpet_cleaning</li>
            <li>mattress_cleaning</li>
            <li>Sofa_cleaning</li>
            <li>House_cleaning</li>
            <li>Home_dusting</li>
            <li>Steam_ironing</li>
            <li>Shou_laundry</li>
            <li>Wash & Fold</li>
            <li>Ironing</li>
            <li></li>
          </ul>
        </div>
        <div class="col">
          Contact_us
          <br />
          mob:<br />
          7632966717<br />
          mail:<br />
          rnjha339@gmial.com<br />
          visit also:<br />
          www.cleaning.com<br />
          Open & Close Time<br />
          09:00 - 21:00<br />
          Monday To Saturday
        </div>
        <div class="row0">
          <p
            style="
              color: #fff;
              text-align: center;
              font-family: 'Times New Roman', Times, serif;
              font-size: large;
              background-color: darkblue;
            "
          >
            Also Visit Here
          </p>
          <div class="icon">
            <img src="facebook.png" />
          </div>
          <div class="icon">
            <img src="instagram.png" />
          </div>
          <div class="icon">
            <img src="linkedin.png" />
          </div>
          <div class="icon">
            <img src="google.png" />
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
