<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/price_page.css" />
    <title>Price_page</title>
  </head>
  <body>
    <nav class="navbar-2 navbar-expand-lg">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav-2">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/booklaundry">Book_laundry</a>
          </li>
          <a class="nav-link" href="#"
            ><i class="fa-solid fa-cart-circle-plus"></i
          ></a>
        </ul>
      </div>
    </nav>
    <div class="row myrow">
      <div class="col-sm-2 mycol">
        <div class="row">
          <div class="col-sm-9 mycol1" id="wash">wash fold & iron</div>
        </div>
        <div class="row">
          <div class="col-sm-9 mycol1" id="dry">Dry cleaning</div>
        </div>
        <div class="row">
          <div class="col-sm-9 mycol1" id="siron">Steam Ironing</div>
        </div>
        <div class="row">
          <div class="col-sm-9 mycol1" id="shlaundry">Shoue Laundry</div>
        </div>
        <div class="row">
          <div class="col-sm-9 mycol1" id="hcleaning">Home cleaning</div>
        </div>
      </div>
      <div class="col-sm-10 hide" id="data">
        
        <div class="pri">Price List</div>
        <div class="row myrow3">
          <table class="table">
            <p style="margin-left: 40%">Wash & Fold</p>

            <thead>
              <tr>
                <th scope="col">Cloth's Item</th>
                <th scope="col">Wash</th>
                <th scope="col">Fold</th>
                <th scope="col">Iron</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Shirt/T-Shirt/Pant</td>
                <td>10</td>
                <td>3</td>
                <td>5</td>
                
              </tr>
              <tr>
                <td>jeans</td>
                <td>12</td>
                <td>2</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Sherwani(Designed)</td>
                <td>20</td>
                <td>7</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Sherwani(Designed)</td>
                <td>23</td>
                <td>7</td>
                <td>30</td>
              </tr>
              <tr>
                <td>Kurta(Normal)</td>
                <td>15</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Kurta(Designed)</td>
                <td>16</td>
                <td>5</td>
                <td>15</td>
              </tr>
              <tr>
                <td>Blazer</td>
                <td>15</td>
                <td>5</td>
                <td>(1pc)70<br>
                  (2pc)75
                </td>
              </tr>
              <tr>
                <td>Half Selves Cloth</td>
                <td>13</td>
                <td>4</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Safari Suit</td>
                <td>18</td>
                <td>5</td>
                <td>(2pcs)30</td>
              </tr>
              <tr>
                <td>Waist Coat</td>
                <td>20</td>
                <td>4</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Muffler/Tie</td>
                <td>4</td>
                <td>1</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Lungi</td>
                <td>6</td>
                <td>3</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-10 hide" id="data2">
        <div class="row myrow3">
          <table class="table">
            <p style="margin-left: 30%">Dry Cleaning</p>
            <thead>
              <thead>
                <tbody>
                <tr>
                  <th scope="col">Cloth's Item</th>
                  <th scope="col">Dry Cleaning </th>
                  
                </tr>
              </thead>
              <tr>
                <td>Shirt/T-Shirt/Pant</td>
                <td>50</td>
              </tr>
              <tr>
                <td>jeans</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Sherwani(Normal )</td>
                <td>70</td>
              </tr>
              <tr>
                <td>Sherwani(Designed)</td>
                <td>150</td>
              </tr>
              <tr>
                <td>Kurta(Normal)</td>
                <td>70</td>
              </tr>
              <tr>
                <td>Kurta(Designed)</td>
                <td>120</td>
              </tr>
              <tr>
                <td>Blazer</td>
                <td>Blazer(1pcs)200
                  <br>
                  Blazer(2pcs)250
                </td>
              </tr>
              <tr>
                <td>Half Selves Cloth</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Safari Suit</td>
                <td>150</td>
              </tr>
              <tr>
                <td>Waist Coat</td>
                <td>70</td>
              </tr>
              <tr>
                <td>Muffler/Tie</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Lungi</td>
                <td>80</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-10 hide" id="data3">
        <div class="row myrow3">
          <table class="table">
            <p style="margin-left: 47.5%">Stream Ironing</p>
            <thead>
              <tr>
                <th scope="col">Item List</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Shirt/T-shirt/pant</td>
                <td>7</td>
              </tr>
              <tr>
                <td>jeans/td>
                <td>6</td>
              </tr>
              <tr>
                <td>Sherwani(Normal)</td>
                <td>15</td>
              </tr>
              <tr>
                <td>Sherwani(Designed)</td>
                <td>35</td>
              </tr>
              <tr>
                <td>Kurta(Normal)</td>
                <td>15</td>
              </tr>
              <tr>
                <td>Kurta(Designed)</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-10 hide" id="data4">
        <div class="row myrow3">
          <table class="table">
            <p style="margin-left: 35%">Shoe Laundry</p>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Washig Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sports Shoes</td>
                <td>200</td>
              </tr>
              <tr>
                <td>Lather Shoes</td>
                <td>300</td>
              </tr>
              <tr>
                <td>Sandal</td>
                <td>200</td>
              </tr>
              <tr>
                <td>Boots</td>
                <td>350</td>
              </tr>
              <tr>
                <td>High Boots</td>
                <td>400</td>
              </tr>
              <tr>
                <td>Running Shoes</td>
                <td>300</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-10 hide" id="data5">
        <div class="row myrow3">
          <table class="table">
            <p style="margin-left: 30%">Home Cleaning</p>
            <thead>
              <tr>
                <th scope="col">House Format</th>
                <th scope="col">Deep cleaning price range ( in Rs)</th>
                <th scope="col">Basic cleaning price Range (in Rs)</th>
                <th scope="col">After party cleaning price Range (in Rs)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1BHK</td>
                <td>3499</td>
                <td>2499</td>
                <td>2499</td>
              </tr>
              <tr>
                <td>2BHK</td>
                <td>4699</td>
                <td>3999</td>
                <td>2999</td>
              </tr>
              <tr>
                <td>3BHK</td>
                <td>5699</td>
                <td>3499</td>
                <td>3499</td>
              </tr>
              <tr>
                <td>4BHK</td>
                <td>8999</td>
                <td>4499</td>
                <td>4499</td>
              </tr>
              <tr>
                <td>5BHK</td>
                <td>9999</td>
                <td>5499</td>
                <td>5499</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col about">
          About_us<br />
          Manage multiple stores using a single platform with all metrics in one place
          A perfect laundry management software to manage your stores, factory, and customers, 
          giving you better control and clarity manage everything effectively easily quickely.
          we make a web application beause customer easily book laundry thorugh our web application.
          this is one best solution for all laundry works like house cleaing and cloths cleaning.
          visit our website and enjoy our sersvices.Thanque.
        </div>
        <div class="col">
          Our_services<br />
          <ul
            service_list
            style="color: #fff; list-style: none; margin-top: 1%"
          >
            <li>Dry_cleaning</li>
            <li>Carpet_cleaning</li>
            <li>mattress_cleaning</li>
            <li>Sofa_cleaning</li>
            <li>House_cleaning</li>
            <li>Home_dusting</li>
            <li>Steam_ironing</li>
            <li>Shou_laundry</li>
            <li>Wash & Fold</li>
            <li>Ironing</li>
          </ul>
        </div>
        <div class="col">
          Contact_us
          <br />
          mob:<br />
          7632966717<br />
          mail:<br />
          rnjha339@gmial.com<br />
          visit also:<br />
          www.cleaning.com<br />
          Open & Close Time<br />
          09:00 - 21:00<br />
          Monday To Saturday
        </div>
        <div class="row0">
          <p
            style="
              color: #fff;
              text-align: center;
              font-family: 'Times New Roman', Times, serif;
              font-size: large;
              background-color: darkblue;
            "
          >
            Also Visit Here
          </p>
          <div class="icon">
            <img src="facebook.png" />
          </div>
          <div class="icon">
            <img src="instagram.png" />
          </div>
          <div class="icon">
            <img src="linkedin.png" />
          </div>
          <div class="icon">
            <img src="google.png" />
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/js/price_page.js"></script>
  </body>
</html>
